* {
    padding: 0px;
    margin: 0px;
}




.header {
    background-color: #1F2937;
    display: flex;
    color: #f9faf8;
    padding: 5px;
    justify-content: center;
    gap: 370px;
    
    
}


.header h3 {
    font-size: 24px;
    color: #f9faf8;
    
}

.header ul {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    align-items: center;
    gap: 10px;
    list-style: none;

}

.hero {
    background-color: #1F2937;
    font-size: 48px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
    padding: 100px;
    
    
}


.placeholder {
    background-color: #888888;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 400px;
    justify-content: center;
        
}

.placeholder img {
    max-width: 100%;
    max-height: 100%;
}

.heroleft {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    border-radius: 5px;
    background-color: #3882f6;
    padding: 5px 0px;
    width: 100px;
    color: #E5E7EB;
    border: none;
    margin-top: 6px;
    
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.box {
    border-radius: 5px;
    height: 150px;
    width: 150px;
    gap: 10px;
}

.bluebox {
    width: 144px;
    height: 144px;
    border-radius: 15px;
    border: solid 4px #3882f6;
}

.text {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    color: #888888;
}

.quotediv {
    background-color: #888888;
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    
}

.quotediv blockquote {
    font-size: 36px;
    color: #1F2937;
}

.quote {
    width: 760px;
    display: flex;

}

.quote p {
    display: flex;
    justify-content: flex-end;
}

.container {
    padding: 100px;
    display: flex;
    justify-content: center;
    
}

.action {
    padding: 48px 72px;
    background-color: #3882f6;
    color: #E5E7EB;
    flex-direction: row;
    display: flex;
    gap: 250px;
    border-radius: 10px;
}

.action button {
    color: #E5E7EB;
    background-color: #3882f6;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: #E5E7EB solid 2px;
    align-self: center;
    

}

.call strong {
    font-size: 20px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #1F2937;
    color: #E5E7EB;
}












